openapi: 3.0.1
info:
  title: Receipt API
  version: '1.0'
servers:
  - url: https://capture.bludelta.ai/receipt
    description: Production server
paths:
  /v1/receipt:
    post:
      tags:
        - Receipt
      parameters:
        - name: X-ApiKey
          in: header
          description: The customer's application key. Required for authentication
          required: true
          schema:
            type: string
        - name: X-ApiIdentifier
          in: header
          description: The customer's api identifier key. Not required for authentication
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}